#storybook-docs,
.sbdocs-wrapper,
.sbdocs.sbdocs-content,
.sbdocs-preview,
.sb-show-main {
  font-family: "Noto Sans JP", sans-serif !important;
}

div {
    &[role="combobox"] {
        box-shadow: #B18A8B 0px 0px 0px 1px inset;
    }

    &#storybook-panel-root {
        & #panel-tab-content {
            span {
                color: #ffffff !important;
            }

            label {
                &[aria-disabled]{
                    span {
                        color: #333333 !important;
                    }
                }                
            }
        }
    }
}

button {
    &[aria-label="Create a new story"] {
        display: none;
        background: inherit;
        box-shadow: #B18A8B 0px 0px 0px 1px inset;

        &:hover {
            background: #d5c2c2;
        }
    }
}

.sidebar-item {
    &:hover,
    &:focus{
        background: #d5c2c2 !important;
        outline: none;

        button{
            box-shadow: #d5c2c2 0px 0px 5px 5px !important;
            background: #d5c2c2;
        }
    }

    &[data-selected="true"]{
        &[data-ref-id="storybook_internal"]{
            &[data-item-id="components-button--primary"]{
                &[data-nodetype="story"]{
                    &:hover,
                    &:focus{
                        background: #d5c2c2 !important;

                        button{
                            box-shadow: #d5c2c2 0px 0px 5px 5px !important;
                            background: #d5c2c2;
                        }
                    }
                }
            }
        }
    }
}
